/* Dancing Script & Poppins - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    background: url(../assets/background.png) no-repeat fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Overlay */
html::before {
    background: var(--overlay-color);
    bottom: 0;
    content: "";
    left: 0;
    /* This is important, to not catch mouse events - Allow user to interact with inner elements */
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100dvh;
}

body {
    /* This is important to make it stand out from the overlay */
    color: var(--primary-color);
    height: 100dvh;
    padding: var(--body-padding);
    position: relative;
}

.layout,
.layout__body,
.layout__content,
.layout__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.layout {
    height: 100%;
    justify-content: center;
    padding: var(--spacing-9) 0;
    width: 100%;
}

.layout__header {
    justify-content: center;
}

.layout__header .layout__logo {
    width: 7.5rem;
}

.layout__body {
    flex: 1;
}

.layout__content {
    flex: 1;
    font-weight: 200;
    gap: var(--spacing-6);
    justify-content: center;
    max-width: 325px;
}

.content__slogan {
    color: var(--primary-color);
    font-family: 'Dancing Script';
    font-size: var(--font-size-slogan-mobile);
    font-weight: 700;
    line-height: var(--font-size-slogan-line-height-mobile);
    text-align: center;
}

.content__message,
.content__email,
.form__label {
    align-items: center;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-xs);
    font-weight: 200;
    justify-content: center;
    line-height: var(--spacing-5);
    text-align: center;
}

.content_message,
.message__text {
    line-height: 33px;
}

.content__email {
    display: none;
}

.layout__form {
    align-self: stretch;
    gap: var(--spacing-2);
    justify-content: center;
    max-width: 816px;
    width: 100%;
}

.layout__form input,
.layout__form button {
    align-self: stretch;
    border-radius: var(--spacing-2);
    color: var(--primary-color);
    font-size: var(--spacing-3);
    font-weight: 200;
    height: 3rem;
    padding: var(--spacing-3);
}

.layout__form input {
    border: 1px solid var(--primary-color);
    color: var(--input-color);
    line-height: 18px;
    text-align: center;
    outline: none;
}

.layout__form input:focus {
    border: 1px solid var(--secondary-color-light);
    box-shadow: var(--input-box-shadow);
}

.layout__form button {
    align-items: center;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    justify-content: center;
    padding: 0;
}

.layout__form .sign-up__email {
    display: inline;
}

@media (min-width: 640px) {
    .layout {
        padding: 0;
        margin: auto;
    }

    html {
        background: url(../assets/background.png) no-repeat center center fixed;
        background-size: cover;
    }

    body {
        padding: var(--spacing-9);
    }

    .layout {
        gap: 92px;
    }

    .layout__body {
        gap: 64px;
    }

    .layout__content {
        flex: unset;
        width: 100%;
        max-width: 48rem;
    }

    .content__message,
    .content__email {
        font-size: var(--font-size-xl);
    }

    .content__slogan {
        font-size: var(--font-size-slogan);
        line-height: var(--font-size-slogan-line-height);
    }

    .content__email {
        position: static;
        display: inline;
    }

    .layout__form {
        align-self: auto;
        flex-direction: row;
        height: 4.25rem;
        max-width: 48rem;
        font-weight: 400;
    }

    .layout__form input {
        flex: auto;
        padding: var(--spacing-5) var(--spacing-4);
        text-align: left;
    }

    .layout__form button {
        gap: var(--spacing-2);
        padding: var(--spacing-2) var(--spacing-8);
    }

    .layout__form .form__label {
        display: none;
    }

    .layout__header {
        width: 100%;
        justify-content: flex-start;
    }

    .layout__header .layout__logo {
        padding: var(--spacing-5);
        width: 13.5rem;
    }
}