/* Dancing Script & Poppins - Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");

* {
    box-sizing: border-box;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.container {
    width: 40.375rem;
    height: 40rem;
    background: url(../../assets/background-email.png) no-repeat center center;
    border-radius: var(--spacing-5);
    position: relative;
    overflow: hidden;
}

.container:before {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 35%);
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.layout {
    width: 100%;
    height: 19.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: var(--spacing-5);
    padding: var(--spacing-6);
    overflow: hidden;
    position: relative;
}

.layout__header .layout__logo {
    width: 7.5rem;
}

.content__message {
    font-size: var(--spacing-3);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: revert;
    display: flex;
    justify-content: center;
    gap: var(--spacing-3);
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--spacing-8);
    padding: var(--spacing-1) var(--spacing-4);
    border: none;
    border-radius: var(--spacing-4);
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}